---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import BrandStory from '../components/BrandStory.astro';
---
<MainLayout>
  <main>
    <Hero />
    <BrandStory />
  </main>
</MainLayout>