---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import BrandStory from '../components/BrandStory.astro';
import ProductTeaser from '../components/ProductTeaser.astro';
import Signup from '../components/Signup.astro';
---
<MainLayout>
  <main>
    <Hero />
    <BrandStory />
    <ProductTeaser />
    <Signup />
  </main>
</MainLayout>