---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Returns Policy | Jerry Can Spirits">
  <div class="content-page">
    <h1>Returns Policy</h1>
    <p>[Insert your returns policy text here. You can use the template you have as a starting point.]</p>
  </div>
</MainLayout>
