---
// src/pages/serves/quartermasters-old-fashioned.astro
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <div style="padding: 4rem 2rem; text-align: center;">
    <h1>Reconaissance Refresher</h1>
    <p>Recipe details will go here!</p>
  </div>
</MainLayout>